:root {
  --red: #ff2851;
  --white: #fff;
  --black: #282828;
  --lightgray: #e5e5e5;
}
::selection {
  background: var(--black);
  color: var(--white);
}

::-moz-selection {
  background: var(--black);
  color: var(--white);
}

body {
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  letter-spacing: -0.3;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

.hover {
  text-decoration: none;
  text-decoration-color: inherit;
  border-color: inherit;
  border-style: dotted;
  border-width: 0 0 1px;
  transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
}

a:hover,
.hover:hover {
  border-color: var(--red);
  border-style: solid;
  border-width: 0 0 3px;
}

.content {
  margin: 10%;
  position: absolute;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ font styling ------------------------------ */
/* -------------------------------------------------------------------------- */

h1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 60px;
  color: var(--red);
}

h2 {
  font-size: 27px;
  font-weight: 100;
  line-height: 1.5;
  margin-top: 8px;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  margin-top: 62px;
}
h6 {
  font-size: 14px;
  margin: 0;
}

p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

ul {
  margin: 120px 0;
  padding: 0;
}
li {
  list-style-type: none;

  margin-bottom: 28px;
}
br {
  line-height: 2;
}

.img {
  z-index: 0;
  display: none;
  height: 70%;
  left: 50%;
  opacity: 0.9;
  position: fixed;
  top: 15%;
}
.blockquote {
  padding: 10px;
  background-color: var(--lightgray);
}

.blockquote p {
  margin: 20px;
}
cite {
  font-size: 12px;
}

.red {
  font-size: 14px;
  color: var(--red);
}
.red:hover {
  border-color: var(--red);
  border-style: solid;
  border-width: 0 0 3px;
}
.m_100 {
  margin-top: 100px;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------------- body ---------------------------------- */
/* -------------------------------------------------------------------------- */

#wrapper {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  position: fixed;
}

#particles-js {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.index {
  max-width: 600px;
  width: 80%;
}

.go_home {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 10vh;
}

i {
  padding-right: 15px;
  color: var(--red);
}

.go_home h1:hover {
}

.container {
  margin: 100px 0;
}

.section {
  margin-top: 200px;
}

/* -------------------------------------------------------------------------- */
/*                                  projects                                  */
/* -------------------------------------------------------------------------- */

.content_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content_wrapper p {
}

.project_left {
  height: 70vh;
  width: 15%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_nav {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_right {
  margin-left: 32%;
  margin-bottom: 10vh;
  overflow: hidden;
}

.project_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project_img {
  margin: 5% 0;
  width: 100%;
}
.project_cover {
  width: 100%;
  height: 60vh;
  margin-bottom: 100px;
}

/* -------------------------- project cover images -------------------------- */

.ranger_cover {
  background-size: cover;
  background-position: center;
  background-image: url(https://cdn.dribbble.com/users/2522172/screenshots/15330043/media/ece0c11425d84d070bb82153ebcb0007.png?compress=1&resize=1000x750&vertical=top);
}

.athlete_cover {
  background-size: cover;
  background-position: center;
  background-image: url(https://cdn.dribbble.com/users/5963189/screenshots/15500536/media/25ce5cb228235135d5a5cabcecd1be08.png?compress=1&resize=1600x1200&vertical=top);
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ media queries ----------------------------- */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 1050px) {
  .img {
    opacity: 0.5;
  }
}

@media only screen and (max-height: 702px) {
  .experiences {
    margin-top: 140px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
  }
}

@media only screen and (max-width: 542px) {
  .timestamp {
    width: 100%;
    font-style: italic;
    font-weight: 800;
    float: left;
  }
}
